.mymodal-footer{
    margin-top: 5%;
    width: 100%;

    display: inline-block;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

.mymodal-footer .footer-btn {
    width: 100%;
}